header{
    text-align: center;
    background-image: linear-gradient(rgb(23, 115, 0), rgb(38, 255, 0));
    color: transparent;
    background-clip: text;
    font-size: 40px;
    text-shadow: 10, 50, 10 color;
}

body{

  background-image: url('https://c4.wallpaperflare.com/wallpaper/78/783/620/anime-re-zero-starting-life-in-another-world-pack-re-zero-rem-re-zero-subaru-natsuki-hd-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

section.subaru {
    
    width: 900px;
    height: auto;
    transform: scale(1.5);

    position:absolute;
    top: 300px;
    left: 1100px
}

.Label_Form{

background-image: linear-gradient(rgb(23, 115, 0), rgb(38, 255, 0));
    color: transparent;
    background-clip: text;

}

footer{

background-image: linear-gradient(rgb(0, 170, 255), rgb(51, 0, 255));
    color: transparent;
    background-clip: text;

}

input, textarea {
  background-color: #e6f2ff; 
  color: #003366;            
  border: 2px solid #0066cc; 
  padding: 8px;             
  
}

input::placeholder, textarea::placeholder {
  color: #004d09;
  opacity: 1; /* Ensures custom color displays correctly in Firefox */
}

input, select {
  background-color: #e6f2ff; 
  color: #003366;            
  border: 2px solid #0066cc; 
  padding: 8px;             
  
}

input, button {

    background-color: #e6f2ff; 
  color: #003366;            
  border: 2px solid #0066cc; 
  padding: 8px;             
  
}
